<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="../../lib/ui-js-dropdown.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ractive/1.1.1/ractive.min.js"></script>
  <script src="../../lib/ui-js-dropdown.js"></script>
</head>
<body>
  <div id="main"></div>

  <script id="template" type="text/ractive">
    <form>
      <uidropdown options="{{dropdown1.options}}" config="{{dropdown1.config}}"></uidropdown>
    </form>
  </script>

  <script src="main.js"></script>
</body>
</html>