ui-js-dropdown {
  --ui-js-dropdown-input-padding: 4px;
}


ui-js-dropdown > input {
  border: 1px solid hsl(207, 44%, 49%);
  border-radius: 4px;
  padding-left: 10px;
  background-color: aliceblue;
}

ui-js-dropdown > ui-js-dropdown-options {
  border-radius: 4px;
  padding: 4px;
  background-color: #eee;
  box-shadow: 0 0 4px 0 #999;
}

ui-js-dropdown > ui-js-dropdown-options > ui-js-dropdown-option {
  border-radius: 2px;
  padding: 2px;
  background-color: #eee;
  cursor: pointer;
}

ui-js-dropdown-option:hover {
  background-color: hsl(207, 44%, 59%);
}

ui-js-dropdown:focus-within > ui-js-dropdown-options > ui-js-dropdown-option:focus {
  outline: 1px solid hsl(207, 44%, 29%);
  background-color: hsl(207, 44%, 29%);
  color: white;
}