@charset "UTF-8";

:root {
  --ui-js-options-height: auto;
  --ui-js-options-max-height: 50vh;
  --ui-js-options-bg-color: white;
  --ui-js-options-border: 1px solid #ccc;
  --ui-js-selected-outline: 1px solid black;
  --ui-js-dropdown-input-height: 20px;
  --ui-js-dropdown-input-padding: 2px;
}

ui-js-dropdown {
  display: inline-block;
}

ui-js-dropdown > input {
  height: var(--ui-js-dropdown-input-height);
  padding: var(--ui-js-dropdown-input-padding);
  padding-right: 20px;
}

ui-js-dropdown.fixed-width-options {
  position: relative;
}

ui-js-dropdown.fixed-width-options  ui-js-dropdown-options {
  width: 100%;
}

ui-js-dropdown:not(:focus-within) ui-js-dropdown-options,
ui-js-dropdown ui-js-dropdown-options.hide {
  display: none;
}

ui-js-dropdown ui-js-dropdown-options {
  display: grid;
  box-sizing: content-box;
  width: fit-content;
  align-items: center;
  align-content: start;
  gap: 4px;
  padding: 2px;
  border-radius: 2px;
  border: var(--ui-js-options-border);
  position: absolute;
  background-color: var(--ui-js-options-bg-color);
}

ui-js-dropdown ui-js-dropdown-options {
  font-size: inherit;
  overflow-y: auto;
  max-height: var(--ui-js-options-max-height);
  height: var(--ui-js-options-height);
}

ui-js-dropdown:focus-within ui-js-dropdown-option:focus {
  outline: var(--ui-js-selected-outline);
}

ui-js-dropdown .ui-js-dropdown-spinner {
  display: none;
}

ui-js-dropdown.loading .ui-js-dropdown-spinner {
  display: inline-block;
  position: relative;
  left: -80%;
}

ui-js-dropdown:after {
  content: "";
  margin: calc(var(--ui-js-dropdown-input-height) / 2 + var(--ui-js-dropdown-input-padding) / 2) -15px;
  display:inline-block;
  border: 5px solid transparent;
  border-top:6px solid gray;
  border-bottom:0 none;
  position: absolute;
}

/*
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */
 /**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
  margin-right: -10px;
  margin-top: calc(1px - var(--ui-js-dropdown-input-height) / 2);
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}