.ui-js-dropdown {
  display: inline-block;
  position: relative;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 2px 20px 2px 4px;
  cursor: pointer;
}

.ui-js-dropdown-input {
  width: 100%;
  display: block;
  border: none;
  margin: 2px;
  outline: none;
}

.ui-js-dropdown-button {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  position: absolute;
  right: 10px;
}

.ui-js-dropdown-options {
    width: 100%;
    display: none;
    position: absolute;
    box-shadow: 1px 2px 4px 0px #444;
    margin: 4px 0 0 -4px;
    background-color: white;
    z-index: 1;
    overflow-y: auto;
    max-height: 300px;
    border-radius: 2px;
}

.ui-js-dropdown-options.up {
  bottom: 0;
}

.ui-js-dropdown-options.show {
  display: inline-block;
}

.ui-js-dropdown-options .item {
  padding: 4px;
}

.ui-js-dropdown-options .item.selected {
  background-color: dodgerblue;
  color: white;
}

.ui-js-dropdown-options .item:hover {
  background-color: deepskyblue;
  cursor: pointer;
}